header, footer {
    background-color: var(--primary);
    color: var(--primary-inverse);
    font-size: 1.4em;
    font-weight: bold;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 50px 1fr auto;
    margin: 0;
}

p.error {
    color: red;
    font-weight: bold;
    font-size: 0,8em;

}


.number {
    text-align: right;
}

.return {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.grid {
    display: flex;
    justify-content:space-around
    
    width: 100px;
    padding: 0 1rem;
    max-width: 800px;
    gap: 15em;
    
  }
  
  .coin_from {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
  
  }
  
  .coin_to {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
  }
  
  .quantity_from {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    height: 100%;
  }  

  