{% extends "base.html" %}

{% block content %}
        <table>
            <div class = "h2">
                <h2>MOVIMIENTOS</h2>
            </div>
            <thead>
               <tr>
                    <th>Fecha</th> 
                    <th>Hora</th>
                    <th>From</th>
                    <th>Q</th>
                    <th>To</th>
                    <th>Q<th>
                    <th>P.U</th>

                </tr>
            </thead>
            <tbody>
                <!--Este for no aplica actualmente pero no da fallo grave-->
                {% for movement in data %}
                <tr>
                    <td>{{movement.date}}</td>
                    <td>{{movement.time}}</td>
                    <td>{{movement.coin_from}}</td>
                    <td>{{movement.quantity_from}}</td>
                    <td>{{movement.coin_to}}</td>
                    <td>{{movement.quantity_to}}</td>
                    <td>{{movement.quantity_from / movement.quantity_to}}</td>

                </tr>
                {% endfor %} 
            </tbody>
        </table>
        <a href="/status"><button class="boton_status"method="POST">Status</button></a>
        <a href="/purchase"><button class="cruz_añadir" method="POST">+</button></a>  

{% endblock %}