{% extends "base.html" %}

{% block content %}

<article>
    <table>
    <h2>COMPRA DE CRIPTOS</h2>
    <form action="/new" method="post">
            {{ form.csrf_token }}

        <div class="grid">
            <div class="coin_from">
            {{ form.coin_from.label }}
            {{ form.coin_from }}        
            {% if form.coin_from.errors %}
                {% for error in form.coin_from.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div>
            
            <div class="coin_to">
            {{ form.coin_to.label }}
            {{ form.coin_to }}
            {% if form.coin_to.errors %}
                {% for error in form.coin_from.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div>
        </div>

        <div class="grid"> 
            <div class="quantity_from">
            {{ form.quantity_from.label }}
            {{ form.quantity_from }}
            {% if form.quantity_from.errors %}
                {% for error in form.quantity_from.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
            </div> 
        </div>
            
            <div class="boton-calcular">
            {{ form.calcular }}
            </div>
    </form>
    </table>
</article>

{% endblock %}