{% extends "base.html" %}

{% block content %}
<table>
    <div class = "h2">
        <h2>ESTADO DE TU INVERSION</h2>

        {% if errores %}
        <div class="lista-errores">
          <p>
            <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
          </p>
          <div>
            {% for error in errores %}
            <p>{{ error }}</p>
            {% endfor %}
          </div>
        </div>
        {% endif %}
        
        <form class="status" action="/purchase" method="GET">
          <div class="grid">
            Invertido: {{saldo_euros_invertidos}} 
            
          </div>
          
          <div class="grid">
             Valor Actual: {{valor_actual}}
            
          </div>
          
          
          <div class="boton_volver">
              <a href="/" role="button">Volver</a>
          </div>
        
        </form>

</table>


    
    
{% endblock %}